<h2 class='header'>Controls</h2>
<table>
  <tr>
    <td>w</td>
    <td>forward</td>
  </tr>
  <tr>
    <td>s</td>
    <td>backward</td>
  </tr>
  <tr>
    <td>a</td>
    <td>left</td>
  </tr>
  <tr>
    <td>d</td>
    <td>right</td>
  </tr>
  <tr>
    <td>↑</td>
    <td>forward</td>
  </tr>
  <tr>
    <td>↓</td>
    <td>backward</td>
  </tr>
  <tr>
    <td>←</td>
    <td>left</td>
  </tr>
  <tr>
    <td>→</td>
    <td>right</td>
  </tr>
  <tr>
    <td>space</td>
    <td>fire</td>
  </tr>
</table>
<ul>
  <li class='home'>Home</li>
  <li class='game'>Play</li>
  <li class='scores'>High Scores</li>
</ul>
