<h2 class='header'>Controls</h2>
<table>
  <tr>
    <td>w</td>
    <td>forward</td>
  </tr>
  <tr>
    <td>s</td>
    <td>backward</td>
  </tr>
  <tr>
    <td>a</td>
    <td>left</td>
  </tr>
  <tr>
    <td>d</td>
    <td>right</td>
  </tr>
  <tr>
    <td>↑</td>
    <td>forward</td>
  </tr>
  <tr>
    <td>↓</td>
    <td>backward</td>
  </tr>
  <tr>
    <td>←</td>
    <td>left</td>
  </tr>
  <tr>
    <td>→</td>
    <td>right</td>
  </tr>
  <tr>
    <td>space</td>
    <td>fire</td>
  </tr>
</table>
<ul>
  <li class='home'><span>H</span><span>o</span><span>m</span><span>e</span></li>
  <li class='game'><span>P</span><span>l</span><span>a</span><span>y</span></li>
  <li class='scores'><span>H</span><span>i</span><span>g</span><span>h</span> <span>S</span><span>c</span><span>o</span><span>r</span><span>e</span><span>s</span></li>
</ul>
