<h3 class='header'>Game Over</h3>
<h4>Final Score: <%= $SCORE %></h4>
<form id="newscore">
  <input id="namebox" type="text" name='name' value='<%= score.escape('name') %>'placeholder="Enter your name..."/>
  <input type='submit' value='submit' style="display: none"/>
</form>
<ul>
  <li class='controls'><span>C</span><span>o</span><span>n</span><span>t</span><span>r</span><span>o</span><span>l</span><span>s</span></li>
  <li class='game'><span>P</span><span>l</span><span>a</span><span>y</span><span> <span>A</span><span>g</span><span>a</span><span>i</span><span>n</span></li>
  <li class='scores'><span>H</span><span>i</span><span>g</span><span>h</span><span> <span>S</span><span>c</span><span>o</span><span>r</span><span>e</span><span>s</span></li>
</ul>
