<h3 class='header'>Game Over</h3>
<h4>Final Score: <%= $SCORE %></h4>
<form id="newscore">
  <input id="namebox" type="text" name='name' placeholder="Enter your name..."/>
  <input type='hidden' name='score' value="<%= $SCORE %>"/>
  <input type='submit' value='submit' style="display: none"/>
</form>
<ul>
  <li class='controls'>Controls</li>
  <li class='game'>Play Again</li>
  <li class='scores'>High Scores</li>
</ul>
