<audio loop autoplay="true" src="<%= music %>"></audio>
<div id="overlay"><h3 class="header" id="overlay-text"></h3></div>
<canvas id="game-canvas"></canvas>

<!-- <div id="jeff">
	<img class="gallery-piece" src="http://www.fiddler.io/images/young_warrior.jpg" alt="the young warrior">
</div> -->
