<h1 class='header'>Acidroids</h1>
<p>"Welcome to Acidroids. Don't have a seizure." - Matt Graser</p>
<ul>
  <li class='controls'><span>C</span><span>o</span><span>n</span><span>t</span><span>r</span><span>o</span><span>l</span><span>s</span></li>
  <li class='game'><span>P</span><span>l</span><span>a</span><span>y</span></li>
  <li class='scores'><span>H</span><span>i</span><span>g</span><span>h</span> <span>S</span><span>c</span><span>o</span><span>r</span><span>e</span><span>s</span></li>
</ul>
