<h1 class='header'>Acidroids</h1>
<p>"Welcome to Acidroids. Don't have a seizure." - Matt Graser</p>
<ul>
  <li><a id="controls" href="#controls">Controls</a></li>
  <li><a id="game" href="#game">Play</a></li>
  <li><a id="scores" href="#scores">High Scores</a></li>
</ul>
