<h1 class='header'>Acidroids</h1>
<p>"Welcome to Acidroids. Don't have a seizure." - Matt Graser</p>
<ul>
  <li class='controls'>Controls</li>
  <li class='game'>Play</li>
  <li class='scores'>High Scores</li>
</ul>
