<h2 class='header'>High Scores</h2>
<table>
<% var index = 0 %>
<% highScores.each(function (highScore) { %>
  <% if (index < 10) { %>
    <% index++ %>
  <tr>
    <td><%= highScore.escape('name') %></td>
    <td><%= highScore.escape('score') %></td>
  </tr>
  <% } %>
<% }) %>
</table>
<ul>
  <li class='home'>Home</li>
  <li class='game'>Play</li>
  <li class='controls'>Controls</li>
</ul>
